.center {
    margin: auto;
    width: 50%;
}

footer {
    background-color: #F6F6F6;
}

.partners {
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: auto 10px;
}

.menu {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.sunglasses{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.spring{
    font-style: italic;
    color: white;
    font-weight: lighter;
    position: absolute;
    font-size: 222px;
    text-align: center;
}

.demo{
    background-image: url("Hero.png");
    object-fit: fill;
    width: 100%;
    height: auto;
}

header {
    background-image: url("Hero.png");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 978px;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-flow: column;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5PX;
}

.sp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;

    border: 1px solid grey;

    padding: 2px;
}

input {
    flex-grow: 2;
    background-color: black;
    border: none;
}

button {
    background: black;
    border: none;
    color: white;
}

.searchbar {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
}

.search1 {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    background: transparent;
}

.form1 {
    border-width: 2px;
    border-color: white;
    background-color: transparent;
    margin: 10px;
    position: absolute;
}
